/*
    #591C16
    #A62F24
    #F27830
    #F28B30
    #F2F0EB
    #FFFDF6
*/
body {
    font-family: 'Playfair Display', serif;
    color: #591C16;
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 10px;
    color: #591C16;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 28px;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: #A62F24;
    font-weight: 500;
    font-size: 18px;
}

    a:hover {
        color: #F27830;
    }

.menuNavegacion {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    border-bottom: 5px solid #591C16;
}

.menu nav {
    display: flex;
    gap: 50px;
}

button {
    background-color: #F27830;
    border: none;
    padding: 12px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

    button:hover {
        opacity: 0.8;
    }

.card {
    width: 100%;
    background: white;
    border: 1px solid #591C16;
    padding: 25px;
    text-align: left;
    border-radius: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group label {
    font-weight: bold;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #A62F24;
    border-radius: 8px;
}

.form-row {
    display: flex;
    gap: 20px;
}

.check-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btn {
    background: #A62F24;
    padding: 12px;
    color: white;
    width: 150px;
    cursor: pointer;
    border-radius: 10px;
}

    .btn:hover {
        background: #F27830;
    }


.container {
    width: 85%;
    margin: auto;
    padding-top: 20px;
}

.layout-reservas {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    gap: 30px;
    margin-top: 20px;
}

.lado-derecho {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

@media (max-width: 900px) {
    .layout-reservas {
        grid-template-columns: 1fr;
    }
}
