/*
    #591C16
    #A62F24
    #F27830
    #F28B30
    #F2F0EB
    #FFFDF6
*/
body {
    font-family: 'Playfair Display', serif;
    color: #591C16;
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 10px;
    color: #591C16;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 28px;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: #A62F24;
    font-weight: 500;
    font-size: 18px;
}

a:hover {
    color: #F27830;
}

.menuNavegacion {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    border-bottom: 5px solid #591C16;
}

.menu nav {
    display: flex;
    gap: 50px;
}

button {
    background-color: #F27830;
    border: none;
    padding: 12px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.card {
    width: 300px;
    background: white;
    border: 1px solid black;
    padding: 25px;
    text-align: center;
    min-height: 430px
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 15px;
    background-color: #F2F0EB;
}

.card h3 {
    margin-bottom: 8px;
}

.card p {
    text-align: justify;
    margin-bottom: auto;
}

footer {
    background-color: #F2F0EB;
    padding: 40px 0;
}